footer {
    background-image: url("/public/img/footer-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-img {
    position: absolute;
    top: -50px;
    right: 0;
    bottom: 0;
}

.footer_bg_color{
    background-color: $darkgrey;
}

.btn.btn_signup {
    &:hover {
        background-color: $blue;
        border: 2px solid $blue;
    }
    border: 2px solid $blue;
    padding: .5rem 1.5rem;
    text-decoration: none;
    border-radius: 0;
}