
#app {
    /* font-family: Avenir, Helvetica, Arial, sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

.img_logo {
    width: 60px;
    height: 60px;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbotron {
    background-image: url("/public/img/jumbotron.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 350px;
}

.bg_black {
    background-color: #1c1c1c;
}

.box_blue {
    &:hover {
        color: white;
        background-color: lighten( $blue, 15% );
        /* border: 3px solid $blue; */
    }

    padding: 1rem 2.5rem;
    background-color: var(--bs-blue);
    color: white;
    text-decoration: none;
    border: 3px solid $blue;
}

.position_box_blue {
    position: absolute;
    top: -15px;
    bottom: 0;
    left: 0;
}

.icon {
    width: 70px;
}

li:hover {
    text-decoration: underline;
    
}